@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login and Registration Form with HTML5 and CSS3"/>
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class"/>
    <meta name="author" content="Codrops"/>
    <link rel="stylesheet" type="text/css" href="~/Content/demo.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css"/>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="login" class="animate form">
      
            <h1>Log in</h1>
            <p>
                <label for="username" class="uname" data-icon="u"> Your email or username </label>
                <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
            </p>
            <p>
                <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
            </p>
            <p class="keeplogin">
                <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"/>
                <label for="loginkeeping">Keep me logged in</label>
            </p>
            <p class="login button">
                <input type="submit" value="Login" onclick="Login()"/>
            </p>
            <p class="change_link">
                Not a member yet ?
                <a href="#toregister" class="to_register">Join us</a>
            </p>
      
    </div>

    <div id="register" class="animate form">
      
            <h1> Sign up </h1>
            <p>
                <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690"/>
            </p>
            <p>
                <label for="emailsignup" class="youmail" data-icon="e"> Your email</label>
                <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/>
            </p>
            <p>
                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
            </p>
            <p>
                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
            </p>
            <p class="signin button">
                <input type="button" onclick="Login()" value="Sign up"/>
            </p>
            <p class="change_link">
                Already a member ?
                <a href="#tologin" class="to_register"> Go and log in </a>
            </p>
    </div>

</div>
</body>
</html>
<script>
 function Login() {
        var model = {};
        model.UserName = $('#username').val().trim();
        model.PassWord = $('#password').val().trim();
        //userService.getUserByName().done(function(result) {
        //    success(result);
        //});
        $.post('/Task/LoginInfo', { input: model }, function (result) {
            if (result.result != null) {
                alert('登录成功，可以在线观看杨颖');
                window.location.href = "/Task/Index";
            } else {
                alert("没账号,登你吗个臭嗨");
            }
        });
 }
    </script>
