@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>测试页面</title>
    <script src="~/Content/js/jquery-1.7.1.min.js"></script>
    <script src="~/Content/ckplayer/ckplayer.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        li {
            list-style: none;
        }

        .main {
            padding-top: 50px;
            width: 1000px;
            margin: 0 auto;
        }

        ul {
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;
        }

            ul li {
                float: left;
                margin: 0 10px;
                height: 22px;
                line-height: 22px;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="main">
        <ul>
            <li>
                <span>点击下列文字播放</span>
            </li>
        </ul>

        <ul>
            <li  onclick="showvideo('test.mp4')" ><a href="javascript:void(0)">测试</a></li>
            @*<li data-value="AngleBaby"><a href="javascript:void(0)">日本AngleBaby</a></li>*@
            <li  onclick="showvideo('20160921.mp4')"><a href="javascript:void(0)">大洋马1</a></li>
            <li  onclick="showvideo('20160922')"><a href="javascript:void(0)">大洋马</a></li>
        </ul>

        <div id="video">

        </div>
    </div>
</body>
</html>
