   *{
   	margin: 0;
   	padding: 0;
   }
   .overlay{
   	margin:0;
    padding:0;
    border:none;
    width:100%;
    height:100%;
    background:#333;
    opacity:0.6;
    filter:alpha(opacity=60);
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
   }
   .openDialog{
     display:block;
     position:absolute;
     font-size:12px;
     width:300px;
     height: 150px;
     overflow:hidden;
     z-index:999; 
     color:#fff;
     border-radius:3px; 
     font-family:微软雅黑;
     background: #FFF;
     color:#abc;
   }
   .top{
   	height:40px;
   	line-height: 40px;
    background-color:#72D1FF;
    padding-left:16px; 
    color:#FFF;
    float:left; 
    width:100%;
   }
   h1{
    font-size:16px;
    color:#FFF;
    font-family:微软雅黑;
    padding-top: 5px;
   }
   .btn{
   	width:62px;
   	height: 25px;
   	line-height: 25px;
   	display: inline-block;
   	background-color:rgb(114,209,255);
   	color: #FFF;
   	border-radius:3px; 
    position: relative;
    text-align: center;
    top:42px;
   	left:115px;
    cursor: pointer;
   }
   p{
   	width: 100%;
   	font-size: 15px;
   	color:#72D1EE;
   	text-align: center;
   	top: 15px;
   	position: relative;
   }
